<section class="card">
  <header><h1>{{id}}: {{address}}</h1></header>
  <div class="card-body">
    {{#if availability}}
      <p>The property is available</p>
      {{else}}
      <p>The property is under contract</p>
      {{/if}}
      <a href="/api/property/{{id}}"><h2>details</h2></a>
  </div>
</section>