<div class='row'>
	<div class='col-md-6'>
		<h2>Add Property</h2>
		<form class='form property-form'>
			<div class='form-group'>
				<label for='property-address'>Property Address:</label>
				<input class='form-input' type='text' id='property-address'>
			</div>
            <div class='form-group'>
				<form id='radio-form'>
					<p>Availability</p>
					<label for='property-available'>available</label>
					<input class='radio' type='radio' name="selectAvailability" id='property-available' value='available'>
					<label for='property-unavailable'>unavailable</label>
					<input class='radio' type='radio' name="selectAvailability" id='property-unavailable' value = 'unavailable'>
			</div>
			<div class='form-group'>
				<button class='btn btn-primary' id='add-button' type='submit'>Submit</button>
			</div>
		</form>
	</div>
</div>
<script src='/js/add.js'></script>