<div>
	<h2>Welcome, {{name}}</h2>
</div>

{{#if properties.length}}
<h3>Properties Owned:</h3>
	{{#each properties as |property|}}
	<div>
		<h4><a href='/property/{{property.id}}'>{{property.address}}</a>
		</h4>
	</div>
	{{/each}}
{{/if}}

<form>
	<h3>Create a new listing:</h3>
	<div>
		<label for='address'>Address of property:</label>
		<input type='text' id='property-address' name='property-address'>
	</div>
	<div>
		<label for='lease-length'>Length of Time Available:</label>
		<input type='number' id='lease-length' name='lease-length'>
		<label for='lease-length-weeks'>Weeks</label>
		<input type='radio' name='lease-length-weeks' id='lease-length-weeks'>
		<label for='lease-length-months'>Months</label>
		<input type='radio' name='lease-length-months' id='lease-length-months'>
	</div>
	<div>
		<button type='submit'>Create Listing</button>
	</div>
</form>