<div class='container'>
    <div class='row gy-3'>
        <div class='col-md-9'>
          <h1>User Info:</h1>
          <h3>Name: {{username}} </h3>
          <h3>email: {{email}}</h3>
          <h3>phone: {{phone}}</h3>
          {{#if isOwner}}
            <a href="/api/property/"><h2>Add A New Property</h2></a>
            <h1>Properties You Own: </h1>
            {{>listings}}
          {{/if}}
        </div>
    </div>
</div>